<!--Navbar-->
<body class="relative flex flex-wrap">
  <nav class="bg-[#C57B57]">
    <div class="max-w-6xl mx-auto px-4">
      <div class="flex justify-between">
        <div class="flex justify-between items-center">
          <a href="/" class="flex items-center py-3 px-3">
            <i class="fa-solid fa-children text-4xl mr-1 text-[bg-black]"></i>
            <sub class="text-[bg-black] text-3xl mb-4">JeniTek</sub>
          </a>
          <div
            class="md:px-4 cursor-pointer text-[#ebdee5] sm:hidden lg:hidden"
          >
            <a
              href="/profile"
              class="py-1 px-2 hover:bg-[#365314] md:hover:py-3 hover:rounded-md"
              >Aprann</a
            >

            <a
              href="/logout"
              class="py-1 px-2 hover:bg-[#365314] md:hover:py-3 hover:rounded-md"
              >Logout</a
            >
          </div>
        </div>

        <div
          class="hidden md:flex items-center text-[bg-black] space-x-1 text-lg"
        >
          <a
            href="/profile"
            class="py-5 px-3 hover:bg-[#fefae0] hover:py-3 hover:rounded-md"
            >Aprann</a
          >

          <a
            href="/logout"
            class="py-5 px-3 hover:bg-[#fefae0] hover:py-3 hover:rounded-md"
            >Logout</a
          >
        </div>
      </div>
    </div>
  </nav>
</body>
